@model IEnumerable<HospitalProject.Models.RoomsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nueva Habitacion</a>
</p>

@if (TempData["message"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["message"]
    </div>
}

<table class="table table-bordered table-striped table-responsive" id="roomsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HabitacionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroHabitacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HabitacionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroHabitacion)
            </td>
            <td>
                <a asp-controller="Room" asp-action="Edit" asp-route-id="@item.HabitacionID" class="btn btn-primary">Editar</a>
                <a asp-controller="Room" asp-action="Delete" asp-route-id="@item.HabitacionID" class="btn btn-primary">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#roomsTable").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    }
                ],
                columnDefs: [
                    {
                        targets: 2,
                        orderable: false,
                        searchable: false
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                }
            });
        });
    </script>
}