@model IEnumerable<HospitalProject.Models.RoomsRegistrationsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nuevo Registro de habitacion</a>
</p>

@if (TempData["message"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["message"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistroHabitacionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabitacionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacienteID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistroHabitacionID)
            </td>
            <td>
                @item.NumeroHabitacion?.NumeroHabitacion
            </td>
            <td>
                @item.NombrePaciente?.NombreCompleto
            </td>
            <td>
                    <a asp-controller="RoomsRegister" asp-action="Edit" asp-route-id="@item.RegistroHabitacionID" class="btn btn-primary">Editar</a>
                    <a asp-controller="RoomsRegister" asp-action="Delete" asp-route-id="@item.RegistroHabitacionID" class="btn btn-primary">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
